<% provide(:title, 'About') %>
<h1>About Us</h1>
<p>This application was designed by a team of three who are currently working through an MSc in Information Technology. 
This app aims to fulfil an assignment for the course Advanced Web Application Design which revolves around working with Ruby and Rails.</p>

<p>The team consists of three members: </p>
<p><b>Jack Booth</b></p>
<p><b>Nabi Moavenhashemi</b></p>
<p><b>Paul Fashanu</b></p>
<p>We came up with the idea to fashion an app which would help other computing science students to communicate and share ideas through social networking and encourage
the use of exploring the possibilities of Ruby on Rails</p>
