<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.abdn.ac.uk/index.php">University of Aberdeen</a></li>
      <li><a href="http://www.abdn.ac.uk/ncs/">Computer Science</a></li>
    </ul>
  </nav>
  </footer>